<a href="https://colab.research.google.com/github/gg5d/DS-1002/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Metadata

```
Course:      DS 1002
Week:        Python Basics
Topic:       Python Types, Operators, Expressions, Math Library, Formatting, and if/then
```

# Data Types

**Integers**

In [ ]:
# the number 42 is an integer
# (a # 'comments out' your code - i.e. not read by the interpreter)

42

`type()`: # can use the type() function to check the data type

In [ ]:
type(43)

**Floats (decimals)**

In [ ]:
3.14

In [ ]:
type(3.14)

**Strings**

No specific character type as in other programming languages

Remember to use quotations

In [ ]:
'wahoo'

In [ ]:
"wahoo"

In [ ]:
type('wahoo')

**Boolean**

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

`True` and `False` are reserved keywords in Python (as of Python 3.8 there were 35)

Reserved keywords have specific meanings and restrictions on how they should be used.

More examples:

`False`   
`await`
`else`
`import`   
`pass`  
`None`   
`break`   
`except`   
`in`   
`raise`   
`True`   
`class`   
`finally`   
`is`
`return`   
`and`   
`continue`   
`for`   
`lambda`   
`try`   
`as`   
`def`   
`from`   
`nonlocal`   
`while`   
`assert`   
`del`   
`global`
`not`   
`with`   
`async`   
`elif`	  
`if`   
`or`   
`yield`

# Variables

Data are assigned to **variables** using the assignment **operator** `=`.

The variable is always on the **left**, the value assigned to it on the **right**.

This is not the same as mathemtical equality.

Variables are assigned types **dynamically**.

Python figures out what type of data is being set to the variable and implicitly stores that info.

In [ ]:
# variable name = assigned value

x = 4
x

In [ ]:
y = 100 + 25
y

In [ ]:
# can type variable to get value
x

In [ ]:
# can use print() function to view assigned value
# the print() function has a lot of uses and will be discussed later

print(x)

In [ ]:
# reassign variable
x = 5

x

In [ ]:
# variable arithmetic

x + y

In [ ]:
# variables of other data types

float_var = 4.22
string_var = 'virginia'
bool_var = True

In [ ]:
type(float_var) # gives you type of data variable is holding

In [ ]:
# delete a variable with function del()
x
del(x)

In [ ]:
x

## Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, subject_id, total_volume).

Rules for Python variables:

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

## Object ID

Every variable created in Python is given a unique ID.

This ID where the variable is stored in memory. The ID is for the variable, not the variable's value.

> Exception: if the number is between -5 - 256 or a simple string with no spaces, it will not be given a unique id for memory optimization purposes

We can find an object's ID using `id()`

In [ ]:
a = 278

In [ ]:
b = 278

In [ ]:
print(id(a))
print(id(b))

In [ ]:
a = 2
print(id(a))

In [ ]:
a == b # 2 = 2

In [ ]:
id(a) == id(b)

## Converting Data Types

When needed you can 'cast' a variable as a different string type (remember Python automatically assigns data type to a variable).

We do this through casting functions:

**`int()`**

In [ ]:
# create float variable
var_float = 9.6
type(var_float)

In [ ]:
# cast float to integer
var_int = int(var_float)

print(type(var_int))
var_int

**`float()`**

In [ ]:
# create string variable
var_str = '10.2'
type(var_str)

In [ ]:
# cast string to float
var_float = float(var_str)
print(type(var_float))
print(var_float)

# Operators

If variables are **nouns**, and values **meanings**, then operators are **verbs**.

In effect, they are **elementary functions** that are expressed in sequential syntax.

**Each data type is associated with a set of operators** that allow you to manipulate the data in way that makes sense for its type. Numeric data types are subject to mathematical operations, booleans to logical ones, and so forth.

There are also **operations appropriate to structures**. For example, list-like things have membership.

The relationship between types and operators is a microcosm of the relationship betweed data structures and algorithms. **Data structures imply algorithms and algorithms assume data structures.**

The w3schools site has [a good summary](https://www.w3schools.com/python/python_operators.asp).

## Numeric Operators

Common: `+`, `-`, `*`, `/`



Other operators:

**floor division `//`**

returns the largest integer less than or equal to the result

In [ ]:
5 // 2

In [ ]:
-5 // 2

**modulus `%`**

returns the remainder

In [ ]:
5 % 2

In [ ]:
print(5.5 / 2)
print(5.5 // 2)
print(5.5 % 2)

**exponentiation `**` **

In [ ]:
5**2

## String Operators

**concatenation `+`**

In [ ]:
string1 = 'Hello world!'
string2 = 'Goodbye world!'

string1 + string2

In [ ]:
string1 + string2 + ' Hello again!'

In [ ]:
print(string1 + string2 + ' Hello again!')

**repetition `*`**

In [ ]:
string1 * 2

In [ ]:
# '\n' moves to the next line (like hitting the return button)
print((string1 + '\n') * 5)

**subsetting a string**

In [ ]:
# extract the first 2 characters
string1[:2]

In [ ]:
# extract the last 2 characters
string1[-2:]

In [ ]:
# string1 = 4
string1.startswith('o')

In [ ]:
string1.endswith('!')

**Python strings are *immutable* - cannot reassign elements**

In [ ]:
string1[0]

In [ ]:
string1[0] = "Y"

## Comparison Operators

comparisons are questions and return boolean values

**equality `==`**

In [ ]:
# numeric
25 == 4**2 + 9

In [ ]:
# string
string1 == string2

**inequality `!=`**

In [ ]:
# numeric
25 != 20 + 6

In [ ]:
# string
string1 != string2

**greater than `>`, less than `<`**

In [ ]:
20 > 10

In [ ]:
2*10 >= 20

In [ ]:
3%2 < 5

In [ ]:
-3 <= 0

Does it work on strings?

In [ ]:
string1 < string2

Wait.... what does it  mean?

## Logical Operators

**conjunctions `and`, `or`, `not`**

Note the we group comparisons with parentheses

In [ ]:
x = 10

(x % 10 == 0) or (x < -1)

In [ ]:
(x % 10 == 0) and (x < -1)

In [ ]:
not x == 5

**Identity `is`**

The `is` keyword is used to test if two variables refer to the same object.

The test returns `True` if the two objects are the same object.

The test returns False if they are not the same object, even if the two objects are 100% equal.

Use the `==` operator to test if two variables are equal.

-- from [W3Schools on Identity Operators](https://www.w3schools.com/python/gloss_python_identity_operators.asp)

In [ ]:
x = ['apple', 'banana']
y = ['apple', 'banana']
z = x

In [ ]:
x is z

In [ ]:
x is y

In [ ]:
x == y

In [ ]:
x == z

In [ ]:
print(id(z),id(x),id(y))

Let change the first component of x, and check the impact on z (if any)

In [ ]:
x[0] = 'orange'
print(z)

Has their id's changed?

In [ ]:
print(id(z),id(x),id(y))

The id is (seems to be) a pointer to the memory location were the object is stored

**`isinstance()`**

function returns `True` if the specified object is of the specified type, otherwise `False`

In [ ]:
#example

isinstance("Hello", (float, int, str))

The object (float, int, str) is NOT a list, it is a **tuple**. Lists have [ ].

In [ ]:
#example
isinstance("Hello", int)

## Unary Operators

Python offers a short-cut for most operators. When updating a variable with an operation to that variable, such as:
```python
my_var = my_var + 1  # Incrementing
```

You can do this:
```python
my_var += 1
```

In [ ]:
my_var= 0
my_var = my_var + 1  # Incrementing
my_var

You can also di this:

In [ ]:
my_var += 1
my_var

Python supports many operators this way. Here are some:
```python
a -= 2
a /= 3
a //= 2
a %= 4
a *= 5
a **= 2
```
more here: https://www.w3schools.com/python/python_operators.asp

## Expressions

Variables, literal values, and operators are the building blocks of expressions.

For example, the following combines three operators and four variables:

In [ ]:
1 + 2 * 3 / 2

Python employs **operator precedence** when evaluating expressions:

```
P – Parentheses
E – Exponentiation
M – Multiplication
D – Division
A – Addition
S – Subtraction
```

In [ ]:
(1 + 2) * (3 / 2)

In [ ]:
(2 * 2 - 1)

In [ ]:
(3 + 1 / 2 + 1)

Variables and literal values can be combined:

In [ ]:
y = 5
m = 2.5
b = 10

In [ ]:
y = m * 10 + b
y

In [ ]:
y = m * 5 + b
y

Expressions can be very complex.

Expressions evaluate to a value, just as single variables do.

Therefore, they can be put anywhere a value is accepted.

In [ ]:
int((y + 10) ** 8)

# Built-in Math Functions for Numbers

**power `pow()`**

In [ ]:
# 4 raised to 2 = 16
print(pow(4,2))

**absolute value `abs()`**

In [ ]:
# returns 2, the absolute value of its argument
print(abs(-2))

**round `round()`**

In [ ]:
# rounds up or down to closest whole number
print(round(2.8)) # rounds up to 3.0
print(round(1.1)) # rounds down to 1.0

# Math Library Functions

See the Python docs on [the math library](https://docs.python.org/3/library/math.html).

In [ ]:
# import dependency
import math

**square root `math.sqrt()`**

In [ ]:
# help
math.sqrt?

In [ ]:
print(math.sqrt(12)) # using the square-root function from the math library

In [ ]:
# round answer
round(math.sqrt(12), 2)

## Formatting

**`format()`**

In [ ]:
# round to 2 decimal places within print function
print(format(math.sqrt(12), '.2f'))

In [ ]:
# another format example
txt = 'This item costs {price:.2f} dollars'
print(txt.format(price = 23.926))

In [ ]:
# Since python 3.9
price = 32.926
print(f"This item costs {price:.2f} dollars")

**`math.floor()`**

In [ ]:
# returns largest whole number less than the argument
print(math.floor(2.5))
print(math.floor(2.9))
print(math.floor(2.1))

**`math.log()`**

In [ ]:
math.log?

In [ ]:
# default: natural log, base e
math.log(100)

In [ ]:
# log of 100, base 10
math.log(100, 10)

In [ ]:
# log of 256, base 2
math.log(256, 2)

# The Random library

See [random — Generate pseudo-random numbers](https://docs.python.org/3/library/random.html) for more info.

In [ ]:
import random as rnd

### `random.random()`

In [ ]:
rnd.random?

In [ ]:
# using random() function in random library
# will return a number between 0 and 1
print(rnd.random())

### `rnd.randint()`

In [ ]:
rnd.randint?

In [ ]:
# specify a range in the parenthesis
# this will return a random integer in the range 1-100
print(rnd.randint(1,100))

# Booleans

A `boolean` value takes one of `True` or `False`, which are built-in values

In [ ]:
data = True

if data:
    print("Your data is good!")

### If / then example

In [ ]:
datum = False

if data or datum:
    print("plural or singular?")
else:
    print("condition not met")

In [ ]:
if data and datum:
    print("plural or singular?")
else:
    print("condition not met")

In [ ]:
if datum and data:
    print("plural or singular?")

AND statements will short circuit if an early condition fails.

In this case, since *datum* is False, the check on *data* never happens.

(We'll cover if/then statements in detail later on)